@model List<Website.Models.personData>
@{
    int collapseID = 1;
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<h2>About</h2>

<div class="panel-group" id="accordion">

    @foreach (var item in Model)
            {
                string collapseStringHash = "#collapse" + collapseID.ToString();
                string collapseString = "collapse" + collapseID.ToString();
                collapseID++;

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="@collapseStringHash">
                        @item.title
                    </a>
                </h4>
            </div>

            <div id="@collapseString" class="panel-collapse collapse">
                <div class="panel-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>Mail:</td>
                                <td>@item.mail</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>@item.phone</td>
                            </tr>
                        </tbody>
                    </table>
                       @item.text
                </div>
            </div>
        </div>
    }

    <script>
        document.co
    </script>

</div>